<div class="container mt-5 col-6">
<h1>Add ingredients to <strong> <%=@cocktail.name%> </strong></h1>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit "➕ Add an ingredient", class: "btn btn-primary" %>
    <% end %>

    <br>

    <%= link_to "Back to cocktail", cocktail_path(@cocktail), class: 'btn btn-dark' %>

</div>
